
/* fonts: large, medium, small
size: 14px, 18px, 22px;
 */

.text {
  line-height: 3.2rem;
  font-weight: 400;
  &--XLarge {
    font-size: 2.8rem;
  }
  &--large {
    font-size: 2.2rem;
  }
  &--medium {
    font-size: 2rem;
  }
  &--small {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
  &--XSmall {
    font-size: 1.4rem;
  }

  &--black {
    color: $black;
    
  }
  &--darkBrown {
    color: $brown-dark;
  }
  &--lightBrown {
    color: $brown-light;
  }
  &--darkOrange {
    color: $orange-dark;
  }
  &--lightOrange {
    color: $orange-light;
  }
  &--white {
    color: $white;
  }
  &--offWhite {
    color: $offwhite;
  }

  &--bold {
    font-weight: bold;
  }
  &--italic {
    font-style: italic;
  }
}