$black: #000;
$brown-dark:#391400;
$brown-light: #391400A3;
$brown-dark-opacity: #391400A3;
$blue-dark: #32334C;
$orange-dark: #EF6D58;
$orange-lighter: #FDF0E9;
$orange-light: #F3D1BF;
$purple: #B550F8;
$white: #fff;
$offwhite: #FFFFFFA3;
;
;