.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $blue-dark;
    margin: 0 auto;
    padding: 0 0.75rem;
    height: 8.6rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.6);
    
  @include respond-to("lg"){
  height: fit-content;
  position: fixed;
  padding: 0;}

    &__internal {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      @include respond-to("lg"){
        margin: 0 auto;
        padding: 0 13.5rem;
        height: fit-content;
      
        @include respond-to("xxl"){
          width: 128rem;
        }

    }}
  
    &__logo {
     
      height: auto;
      width: 15rem;
      cursor: pointer;
      display: flex;
      padding-left: 2.3rem;
      @include respond-to("lg"){
        display: flex;
        position: relative;
        margin: 0;
        margin-left: 0;
        width: 19rem;
      }
    }
  
    &__nav {
   
      @include respond-to ("lg"){
        width: 100%;
        width: 115rem;
      }
      &--btn{
        display: none;
        @include respond-to("lg"){
          display: flex;
        }
      }
    }
  }