.footer{
    padding-top: 5rem;
 display: flex;
 flex-direction: column; 
 background-color: $orange-lighter;
&__container{
    border-bottom: 1px solid $orange-light;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-bottom: 4.3rem;
    @include respond-to("lg"){
        display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-around;
   
    }
    
}
 &__content{
    display: flex;
    flex-direction: column;
    padding: 4.8rem;
    align-items: center;
    @include respond-to("lg"){
        display: flex;
    flex-direction: column;
    padding: 4.8rem;
    align-items: center;
    padding-top: 0;
    }
    &Text{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
     }
     &Icon{
        display: flex;
        width: fit-content;
        @include respond-to("lg"){
            padding-top: 0;
        }
        
     }
 }  

 &__icon{
    display: flex;
    flex-direction: row;
    
    &Container{
        padding: 2rem;
        width: fit-content;
        background-color: $orange-dark;
        border-radius: 500rem;
        margin: 1rem;
       
    }
    font-size: 2rem;
    
    color: #fff;
    
    
 }
 
 &__copyright{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    display: flex;
    @include respond-to("lg"){
    
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.4rem;}
  
 }
}
