.Avatar{
    margin: 3.6rem auto;
    display: flex;
    &__info{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__img{
        border-radius: 50rem;
        margin-right: 2.4rem;
    }
}